<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Wikinimous", articles_path %>
    </div>
    <div class="">
      <%= link_to "New article", new_article_path %>
    </div>
  </div>
</nav>
